.read__blog-container {
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
}

.read__blog-container .l-blog__content-title {
	margin-bottom: 2rem;
	margin-top: -1rem;
	border-bottom: 1px solid rgb(197, 189, 189);
	padding-bottom: 1.5rem;
}

.read__blog-container a {
	text-decoration: underline;
	color: blue;
}

.read__blog-container ul {
	list-style-type: square;
	list-style-position: outside;
	padding-left: 1.5rem;
}

.read__blog-container tr:nth-child(1) {
	background-color: lightblue;
	color: black;
}

.read__blog-container td {
	padding: 0.3rem 0.4rem;
}

.read__blog-container-img {
	display: flex;
	margin-inline: -3rem;
}

.read__blog-container img:nth-child(1) {
	max-height: 500px;
	object-fit: cover;
	margin-bottom: 2rem;
}

.read__blog-container p {
	margin: 1rem 0;
}

.read__blog-container p code {
	padding: 0 5px 2px;
	line-height: 1.8;
	background: #e5eff5;
	border-radius: 3px;
}

.read__blog-container pre {
	padding: 1em;
	overflow-x: auto;
	border-radius: 5px;
	margin: 1em 0;
}

figure {
	text-align: center;
	margin: 1rem 0;
	max-width: 700px;
	margin-inline: auto;
}

figcaption {
	font-size: 0.9rem;
	color: #666;
}

@media (max-width: 800px) {
	.read__blog-container {
		width: 100vw;
	}
}
